$color-pack: false;

.v-application {
  a:not(.v-btn) {
    color: var(--v-accent-base) !important;
  }
  &.theme--dark {
    .primary--text {
      color: white !important;
      caret-color: white !important;
    }
  }
  &.theme--light {
    .primary--text {
      color: var(--v-secondary-base) !important;
      caret-color: var(--v-secondary-base)  !important
    }
  }
}

.theme--dark.v-input {
  color: #FFFFFF !important;
  caret-color: white !important
}
.theme--light.v-input {
  color: var(--v-secondary-base) !important;
  caret-color: var(--v-secondary-base)  !important
}

main.v-main .v-main__wrap {
  padding: 16px;
}

ul.errors {
  list-style-type: none;
  padding: 0 !important;
  margin: 0 !important;
  li {
    display: grid;
    grid-template-columns: min-content auto;
    grid-column-gap: 8px;
    align-items: center;
  }
}


@import '~vuetify/src/styles/main.sass';
